<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paymentfee>
                <active>0</active>
                <model>Boolfly\PaymentFee\Model\PaymentFee</model>
                <order_status>pending</order_status>
                <title>Cash on Delivery with Fee</title>
                <allowspecific>0</allowspecific>
                <fixedamount>10</fixedamount>
                <group>offline</group>
            </paymentfee>
        </payment>
    </default>
</config>